Package: prey
Version: 0.3.5-ubuntu2
Architecture: all
Maintainer: Tomas Pollak <tomas@bootlog.org>
Priority: optional
Depends: openssl, scrot, curl, streamer, libio-socket-ssl-perl, libnet-ssleay-perl
Section: utils
Homepage: http://preyproject.com
Description: Prey Laptop Tracker
 Prey is a lightweight program that will help you track and find your laptop if
 it ever gets stolen. It works in all operating systems and not only is it Open
 Source but also completely free. For more info check http://preyproject.com.
